<div *ngIf="ColoumnHeaderModel.dropDown" ngbDropdown>
    <a id="ColoumnHeaderModel.coloumnName" ngbDropdownToggle>
        {{ColoumnHeaderModel.coloumnName}}
    </a>
    <div *ngIf="ColoumnHeaderModel.dropDown" ngbDropdownMenu aria-labelledby="ColoumnHeaderModel.coloumnName">
        <a *ngFor="let val of ColoumnHeaderModel.dropValues" (click)='onDropDownValueSelected(val)' id= '{{val}}'ngbDropdownItem>{{val}}</a>
    </div>
</div>
<div *ngIf="!ColoumnHeaderModel.dropDown">
    {{ColoumnHeaderModel.coloumnName}}
</div>