<div class="fab-container">
    <div class="fab fab-icon-holder">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <ul class="fab-options">
        <li>
            <span class="fab-labels">Task</span>
            <div class="fab-icon-holder">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </div>
        </li>
        <li>
            <span class="fab-labels">Home</span>
            <div class="fab-icon-holder">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
        </li>
    </ul>
</div>