<div class="fab-container">
    <div class="fab fab-icon-holder">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <ul class="fab-options">
        <li>
            <span class="fab-labels">Task</span>
            <div class="fab-icon-holder">
                <i class="fa fa-edit" aria-hidden="true" (click)="open(content)"></i>
            </div>
        </li>
        <li>
            <span class="fab-labels">Home</span>
            <div class="fab-icon-holder">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
        </li>
    </ul>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Task</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm">
            <div class="form-group">
                <label for="Description">Description</label>
                <div class="input-group">
                    <textarea class="form-control" id="descriptionArea" name="description" rows="3" ngModel></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(f.value)">Save</button>
    </div>
</ng-template>